.avatar {
  position: relative;
  border-radius: 5px;
  border: solid 1px purple;
  height: 100px;
  width: 100px;

  &--male {
    background-color: orange;
  }
  &--female {
    background-color: aqua;
  }
  &--hermaphrodite {
    background-color: blueviolet;
  }


  &__face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: solid 1px green;
    z-index: 0;

  }
  &__eye {
    position: absolute;
    top: 35%;
    width: 10%;
    height: 10%;
    border-radius: 50%;
    border: solid 1px blue;
    z-index: 1;

    &--left {
      left: 30%;
    }
    &--right {
      left: 60%;
    }
  }
  &__hair {
    position: absolute;
    border-radius: 150px 150px 0 0;
    left: 10%;
    width: 80%;
    height: 20%;
  }

}